*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family: Arial, sans-serif;
background: linear-gradient(to bottom,#061a3a,#0f2e63);
color:black;
min-height:100vh;
display:flex;
flex-direction:column;
}

header{
text-align:center;
padding:30px;
color:white;
font-size:28px;
font-weight:bold;
text-transform:uppercase;
letter-spacing:2px;
}

nav{
background:#1f3f75;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:0 20px;
text-decoration:none;
font-weight:bold;
font-size:16px;
}

nav a:hover{
color:gold;
}

.container{
background:#e6e6e6;
width:90%;
margin:30px auto;
padding:40px;
border-radius:5px;
flex:1;
line-height:1.8;
}

.home-img,.topic-img{
display:block;
margin:0 auto 20px auto;
width:220px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

.topic-video{
display:block;
margin:20px auto;
width:80%;
max-width:600px;
height:340px;
border-radius:12px;
}

.canva-slide{
display:block;
margin:30px auto;
width:90%;
height:520px;
border:none;
}

footer{
background:#061a3a;
color:white;
text-align:center;
padding:15px;
margin-top:auto;
}